@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --antiflash-white: #F8FAFC;
    --antique-white: #F5E8D5;
    --orange-yellow: #F5D565;
    --orange: #E9A23B;
    --alice-blue: #E3E8EF;
    --grape-green: #A0ECB1;
    --malachite-green: #32D657;
    --pale-pink: #F7D4D3;
    --indian-red: #DD524C;
    --cadet-gray: #97A3B6;
    --royal-blue: #3662E3;
    --black: #00000033;
}